<footer>
  <div class="display">
    <div class="legal">
      <p>Legal notice</p>
      <p>© Albina Januzi 2025</p>
    </div>
    <div class="logo">
      <img src="assets/img/footer/footer-logo.svg" alt="">
    </div>
    <div class="social">
      <img src="assets/img/footer/github.svg" alt="">
      <img src="assets/img/footer/email.svg" alt="">
      <img src="assets/img/footer/linkedin.svg" alt="">
    </div>
  </div>

  <div class="mobile">
    <div class="logo">
      <img src="assets/img/footer/footer-logo.svg" alt="">
    </div>
    <div class="social">
     <a href="https://github.com/albinaJanuzi"><img src="assets/img/footer/github-mobile.svg" alt=""></a> 
      <a href="#contact"><img src="assets/img/footer/email-mobile.svg" alt=""></a>
      <a href="https://www.linkedin.com/"><img src="assets/img/footer/linkedin-mobile.svg" alt=""></a>
    </div>
    <div class="legal">
      <a href="">Legal Notice</a>
      <p>© Albina Januzi 2025</p>
    </div>
   

  </div>
  </footer>