<section class="contact-section">
    <div class="title-img">
        <div>
            <h1>Contact me</h1>
        </div>
        <div class="arrow-up">
            <a href="#landingPage"><img src="assets/img/contact/arrowUp.svg" alt="Arrow Up"></a>
        </div>
    </div>

    <div class="contact-container">
        <p class="contact-description">
            Encourage people to contact you and describe what role you are interested in. Show that you will add
            value to their projects through your work.<br>
            Example: Feel free to get in touch with job offers or opportunities such as: ...
        </p>

        <div class="contact-info">
            <div class="contact-item">
                <img src="assets/img/contact/email-icon.svg" alt="Email Icon">
                <p>E-mail: fahrer.developergmail.com</p>
            </div>
            <div class="contact-item">
                <img src="assets/img/contact/phone-icon.svg" alt="Phone Icon">
                <p>Tel: 0157 123 456 68</p>
            </div>
        </div>

    </div>


    <div class="contact-form">
        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="contact-form" novalidate>
            <div class="input-group">
                <div class="input-container">
                    <p [ngClass]="{'input-error-title': name.invalid && (name.touched || isSubmitted)}">Your Name</p>
                    <input type="text" name="name" [(ngModel)]="formData.name" required #name="ngModel"
                    [ngClass]="{'input-error': (name.invalid && (name.touched || isSubmitted))}">
                </div>
                <div class="input-container">
                    <p [ngClass]="{'input-error-title': email.invalid && (email.touched || isSubmitted)}">Your Email</p>
                    <input type="email" name="email" [(ngModel)]="formData.email" required #email="ngModel"
                    [ngClass]="{'input-error': (email.invalid && (email.touched || isSubmitted))}">
                </div>
            </div>
            <div class="text-area-title">
                <p [ngClass]="{'input-error-title': message.invalid && (message.touched || isSubmitted)}">Your Message</p>
                <textarea name="message" [(ngModel)]="formData.message" required #message="ngModel"
  [ngClass]="{'input-error': (message.invalid && (message.touched || isSubmitted))}"></textarea>
                    
                    <div class="policy" (click)="toggleCheckbox()" (mouseenter)="onHover()" (mouseleave)="onLeave()">
                        <img class="checkbox-default" src="assets/img/contact/checkbox.svg" alt="Default Checkbox"
                             [style.display]="checkboxState === 'default' ? 'block' : 'none'">
                        <img class="checkbox-hover" src="assets/img/contact/hover-checkbox.svg" alt="Hover Checkbox"
                             [style.display]="checkboxState === 'hover' ? 'block' : 'none'">
                        <img class="checkbox-checked" src="assets/img/contact/checked-checkbox.svg" alt="Checked Checkbox"
                             [style.display]="checkboxState === 'checked' ? 'block' : 'none'">
                        <img class="checkbox-error" src="assets/img/contact/checkbox-red.svg" alt="Error Checkbox"
                             [style.display]="checkboxState === 'error' ? 'block' : 'none'"> <!-- Rotes Checkbox-Bild -->
                        
                        <label for="privacy-policy">I've read the <a href="#">privacy policy</a> and agree to the processing
                          of my data as outlined.</label>
                      </div>
                      

                <div class="button-position">
                    <button type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</section>