<section>
    <h1>Why me</h1>
    <div>{{ 'why-me.title' | translate }}</div>
    <div>{{ 'why-me.hello' | translate:{name} }}</div>
    <div class="whyme-content">
        <div class="location">
            <img src="assets/img/why-me-img/location-icon.svg" alt="Location">
            <span><span class="highlight">I am</span> located in Bonn..|</span>
        </div>

        <div class="txt-content">
            <p>Why are you passionate about coding?<br>  
                You can include some key traits like: analytical thinking, creativity, persistence and  collaboration.
                A problem-solving mindset is always nice to have.
            </p>
            <div class="button-container">
                <button><a href="#contact">Let’s talk</a></button>
            </div>
        </div>
    </div>
</section>
