<section>
    <h2>{{ 'feedback.title' | translate }}</h2>
    <div class="position-center">
    <div class="container-position">

        <div class="txt-container">
            <img src="assets/img/feedback-img/reference-shape.svg" alt="">
            <div class="txt-position">
                <h3>Evelyn Marx</h3>
                <span>Project<p>Sharkie</p></span>
                <p> She is a trustworthy teamplayer and can cope with the stress of deadlines. Structured work and clear
                    code.</p>
            </div>
        </div>

        <div class="txt-container">
            <img src="assets/img/feedback-img/reference-shape.svg" alt="">
            <div class="txt-position">
                <h3>Evelyn Marx</h3>
                <span>Project<p>Sharkie</p></span>
                <p> She is a trustworthy teamplayer and can cope with the stress of deadlines. Structured work and clear
                    code.</p>
            </div>
        </div>

        <div class="txt-container">
            <img src="assets/img/feedback-img/reference-shape.svg" alt="">
            <div class="txt-position">
                <h3>Evelyn Marx</h3>
                <span>Project<p>Sharkie</p></span>
                <p> She is a trustworthy teamplayer and can cope with the stress of deadlines. Structured work and clear
                    code.</p>
            </div>
        </div>
    </div>
</div>
</section>