<section>
    <h2>{{ 'feedback.title' | translate }}</h2>
    <div class="position-center">
    <div class="container-position">

        <div class="txt-container">
            <img src="assets/img/feedback-img/reference-shape.svg" alt="">
            <div class="txt-position">
                <h3>Catalina Acosta R.</h3>
                <span>{{ 'feedback.project-name' | translate }}<p>Join</p></span>
                <p> {{ 'feedback.catalina-feedback' | translate }}</p>
            </div>
        </div>

        <div class="txt-container">
            <img src="assets/img/feedback-img/reference-shape.svg" alt="">
            <div class="txt-position">
                <h3>Barbora Lambeinova</h3>
                <span>{{ 'feedback.project-name' | translate }}<p>Join</p></span>
                <p> {{ 'feedback.catalina-feedback' | translate }}</p>
            </div>
        </div>

        <div class="txt-container">
            <img src="assets/img/feedback-img/reference-shape.svg" alt="">
            <div class="txt-position">
                <h3>Caryen Song</h3>
                <span>{{ 'feedback.project-name' | translate }}<p>Join</p></span>
                <p> {{ 'feedback.caryen-feedback' | translate }}</p>
            </div>
        </div>
    </div>
</div>
</section>