<section>
    <div class="social-media">
        <a href="https://github.com/"><img src="assets/img/landing-page/default-github.png" alt=""></a>
        <a href="https://www.linkedin.com/"><img src="assets/img/landing-page/default-linkedin.png" alt=""></a>
        <a href="#contact"><img src="assets/img/landing-page/default-email.png" alt=""></a>
    </div>
    <div class="main-content">
        
        <div class="profile-image">
            <img class="person" src="assets/img/landing-page/albina.png" alt="">
        </div>
        <div class="main-info">
         
            <div class="logo">
                <img class="logo-default" src="assets/img/landing-page/default-logo.svg" alt="">
                <img class="logo-hover" src="assets/img/landing-page/hover-logo.svg" alt="">
                
            </div>
            <h1>Albina Januzi</h1>
            <h2>FRONTEND DEVELOPER</h2>
            
            <div class="arrow">
                <a href="#whyme">
                    <img src="assets/img/landing-page/default-arrowDown.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div id="navbar"><app-navbar></app-navbar></div>
    
</section>
