section {
    width: 100%;
    background-color: #262E34;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.burger-icon {
    width: 26px;
    height: auto;
    transition: all 0.3s ease;
}

.burger-menu{
    padding-right:40px;
}

.x-icon {
    position: relative;
    width: 26px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.x-icon .line {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
}


.x-icon .line1 {
    top: 0;
}


.x-icon .line2 {
    bottom: 0;
}

/* Wenn das Overlay sichtbar ist, transformiere die Linien zu einem "X" */
.x-icon.active .line1 {
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.x-icon.active .line2 {
    transform: rotate(-45deg);
    position: absolute;
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    z-index: 999;
}

.overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    z-index: 1;
}

.navbar-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* Abstand zwischen den Links */
    font-size: 24px;
    z-index: 2;
    /* Über dem Overlay-Bild */
}

.navbar-links a {
    text-decoration: none;
    color: #262E34;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: white;
    /* Change the color on hover */
}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #262E34;
    text-align: center;
    z-index: 1000;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    bottom: auto;
}

.language button {

    border: none;
    color: #262E34;
    background-color: #89BCD9;
    font-size: 18px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    transition: color 0.3s ease;

    &:hover {
        color: white;
    }
}

.social-media {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-media img:hover {
    background-color: #3F464A;
    border-radius: 100%
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    gap: 30px;

    h1 {
        font-family: 'Anta';
        font-size: 88px;
        font-weight: 400;
    }

    h2 {
        font-family: 'Josefin Sans';
        font-size: 40px;
        font-weight: 400;
    }

    .profile-image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        background-image: url("../../../../public/assets/img/landing-page/default-background.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: opacity 0.5s ease-in-out;

        &:hover {
            background-image: url("../../../../public/assets/img/landing-page/hover-background.svg");
        }

        .person {
            position: relative;
            z-index: 1;
            height: 620px;
            border-radius: 100%;
            padding-bottom: 62px;
        }
    }

   

   

    .main-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .arrow {
        padding-top: 100px;

        img:hover {
            background-color: #3F464A;
            border-radius: 30px;
        }
    }
}

.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 66px;


    .logo-default {
        display: block;
        padding-bottom: 10px;
    }

    .logo-hover {
        display: none;
    }

    &:hover {
        .logo-default {
            display: none;
        }

        .logo-hover {
            display: block;
            padding-bottom: 10px;
        }
    }

    p{
        font-family: "Josefin Sans";
    }
}

.highlight {
    color: #89BCD9;
   
}
@media (max-width:1280px) {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-content {
        padding: 0px;

        h1 {
            font-size: 48px;
        }

        h2 {
            font-size: 24px;
        }



        .profile-image {
            height: 500px;
            background-size: contain;
        }

        .profile-image .person {
            height: 420px;
            padding-bottom: 62px;
        }

        .arrow {
            padding: 50px;
        }
    }


}


@media (min-width: 1000px) {
    .header {
        display: none;
    }

    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #262E34;
        /* Anpassen je nach Design */
        text-align: center;
        /* Falls nötig */
        z-index: 1000;
    }
}

@media (max-width: 1000px) {

    .social-media {
        display: none;
    }

    .navbar {
        display: none;
    }


    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #262E34;
        z-index: 1000;
        padding: 5px;
        padding-bottom: 0px;
    }

    .logo img{
        width:34px;
    }

    

    .display {
        display: none;
    }

    .main-content {
        flex-direction: column;
        gap: 0px;
        padding: 0px;

        h1 {
            font-size: 48px;
        }

        h2 {
            font-size: 24px;
        }

        .main-info {
            padding: 0px;
            position: absolute;
            bottom: 0px;
        }

        .profile-image {
            height: 600px;
            background-size: contain;
        }

        .profile-image .person {
            height: 500px;
            padding-bottom: 75px;
        }

        .arrow {
            padding: 50px;
        }
    }


}

@media (max-width: 1000px) {
    section {
        display: block;
    }

    .main-content {
        .main-info {
            padding: 0px;
            position: absolute;
        }

        .profile-image {
            height: 400px;
            background-size: contain;
        }

        .profile-image .person {
            height: 300px;
            padding-bottom: 45px;
        }

        .arrow {
            padding-top: 40px;
            padding-bottom: 5px;


        }
    }
}

@media (max-height: 1368px) {
    section {
        height: 92vh;
    }

    .main-content {
        .main-info {
            top: 400px;
        }
    }
}



@media (min-width: 2000px) {
    .social-media {
        right: 1150px;
    }
}