<div class="my-projects-content">
    <h1>My Projects</h1>

    <nav>
        <ul>
            <li (click)="setActiveSection('da-bubble')" [class.active]="activeSection === 'da-bubble'">1. DA Bubble</li>
            <li (click)="setActiveSection('sharkie')" [class.active]="activeSection === 'sharkie'">2. Sharkie</li>
            <li (click)="setActiveSection('join')" [class.active]="activeSection === 'join'">3. Join</li>
            <li (click)="setActiveSection('ongoing-project')" [class.active]="activeSection === 'ongoing-project'">4.
                Ongoing Project</li>
        </ul>
    </nav>

    <div class="sections">
        <section [class.active]="activeSection === 'da-bubble'">
            <div class="row">
            
            <div class="info-content-container">
            <div class="info-content">
                <div class="projekt-info">
                    <img src="assets/img/my-projects-img/ellipse-small.svg" alt="">
                    
                    <h3>About the Project</h3>
                    <p>Duration: 3 Weeks</p>
                </div>
                <div class="projekt-info-txt">
                    <p>This App is a Slack Clone App.
                        It revolutionizes team communication and collaboration with its intuitive interface, real-time
                        messaging, and robust channel organization.</p>
                </div>
            </div>

            <div class="info-content">
                <div class="projekt-info">
                    <img src="assets/img/my-projects-img/ellipse-small.svg" alt="">
                    <h3>About the Project</h3>
                </div>
                <div class="projekt-info-txt">
                    <p>This App is a Slack Clone App.
                        It revolutionizes team communication and collaboration with its intuitive interface, real-time
                        messaging, and robust channel organization.</p>
                </div>
                
            </div>

            <div class="info-content">
                <div class="projekt-info">
                    <img src="assets/img/my-projects-img/ellipse-small.svg" alt="">
                    <h3>About the Project</h3>
                </div>
                <div class="projekt-info-txt">
                    <p>This App is a Slack Clone App.
                        It revolutionizes team communication and collaboration with its intuitive interface, real-time
                        messaging, and robust channel organization.</p>
                </div>
            </div>
        </div>
        <div class="projekt-bild">
            <p>Technologies</p>
            <div class="technologies" >
                <img src="assets/img/my-projects-img/technologie1.svg" alt="">
                <img src="assets/img/my-projects-img/technologie2.svg" alt="">
                <img src="assets/img/my-projects-img/technologie3.svg" alt="">
            </div>
            <div class="img-position"> <img src="assets/img/my-projects-img/project-1.svg" alt="Project Screenshot"></div>

            <div class="button-position">
                <button class="button-test">Live Test</button>
                <button class="github-button">Git hub</button>
            </div>
        </div>
    </div>
  
        </section>

        <section [class.active]="activeSection === 'sharkie'">
            <div class="info-content">
                <div class="projekt-info">
                    <img src="assets/img/my-projects-img/ellipse-small.svg" alt="">
                    <h3>About the Project</h3>
                    <p>Duration: 3 Weeks</p>
                </div>
                <div class="projekt-info-txt">
                    <p>This App is a Slack Clone App.
                        It revolutionizes team communication and collaboration with its intuitive interface, real-time
                        messaging, and robust channel organization.</p>
                </div>
            </div>

            <div class="info-content">
                <div class="projekt-info">
                    <img src="assets/img/my-projects-img/ellipse-small.svg" alt="">
                    <h3>SHARKIE</h3>
                </div>
                <div class="projekt-info-txt">
                    <p>This App is a Slack Clone App.
                        It revolutionizes team communication and collaboration with its intuitive interface, real-time
                        messaging, and robust channel organization.</p>
                </div>
            </div>

            <div class="info-content">
                <div class="projekt-info">
                    <img src="assets/img/my-projects-img/ellipse-small.svg" alt="">
                    <h3>About the Project</h3>
                </div>
                <div class="projekt-info-txt">
                    <p>This App is a Slack Clone App.
                        It revolutionizes team communication and collaboration with its intuitive interface, real-time
                        messaging, and robust channel organization.</p>
                </div>
            </div>
        </section>

        <section [class.active]="activeSection === 'join'">
            <h3>Join</h3>
            <p>Ein Task-Management-Tool für Teamwork und Organisation.</p>
        </section>

        <section [class.active]="activeSection === 'ongoing-project'">
            <h3>Ongoing Project</h3>
            <p>Ein aktuelles Projekt, an dem ich gerade arbeite.</p>
        </section>
    </div>
</div>