<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<app-navbar></app-navbar>
<body>
   
<section class="privacy-content">   
<div class="container">
    <h1>{{ 'privacy-policy.privacyPolicy' | translate }}</h1>
    <p>{{ 'privacy-policy.privacyIntro' | translate }}</p>
    <h2>1. {{ 'privacy-policy.infoWeCollect' | translate }}</h2>
    <p>{{ 'privacy-policy.infoWeCollectDesc' | translate }}</p>
    <ul>
        <li>{{ 'privacy-policy.voluntaryData' | translate }}</li>
        <li>{{ 'privacy-policy.automaticData' | translate }}</li>
        <li>{{ 'privacy-policy.externalSources' | translate }}</li>
    </ul>
    <h2>2. {{ 'privacy-policy.howWeUseInfo' | translate }}</h2>
    <p>{{ 'privacy-policy.howWeUseInfoDesc' | translate }}</p>
    <ul>
        <li>{{ 'privacy-policy.operateWebsite' | translate }}</li>
        <li>{{ 'privacy-policy.enhanceExperience' | translate }}</li>
        <li>{{ 'privacy-policy.analyzeTraffic' | translate }}</li>
        <li>{{ 'privacy-policy.developFeatures' | translate }}</li>
        <li>{{ 'privacy-policy.communicateUpdates' | translate }}</li>
        <li>{{ 'privacy-policy.processTransactions' | translate }}</li>
        <li>{{ 'privacy-policy.preventFraud' | translate }}</li>
    </ul>
    <h2>3. {{ 'privacy-policy.sharingInfo' | translate }}</h2>
    <p>{{ 'privacy-policy.sharingInfoDesc' | translate }}</p>
    <h2>4. {{ 'privacy-policy.dataRetention' | translate }}</h2>
    <p>{{ 'privacy-policy.dataRetentionDesc' | translate }}</p>
    <h2>5. {{ 'privacy-policy.dataRights' | translate }}</h2>
    <p>{{ 'privacy-policy.dataRightsDesc' | translate }}</p>
    <ul>
        <li>{{ 'privacy-policy.accessData' | translate }}</li>
        <li>{{ 'privacy-policy.requestCorrection' | translate }}</li>
        <li>{{ 'privacy-policy.requestDeletion' | translate }}</li>
        <li>{{ 'privacy-policy.restrictProcessing' | translate }}</li>
        <li>{{ 'privacy-policy.requestTransfer' | translate }}</li>
    </ul>
    <h2>6. {{ 'privacy-policy.policyUpdates' | translate }}</h2>
    <p>{{ 'privacy-policy.policyUpdatesDesc' | translate }}</p>
    <h2>7. {{ 'privacy-policy.contactUs' | translate }}</h2>
    <p>{{ 'privacy-policy.contactUsDesc' | translate }}</p>
    <p><strong>Email:</strong> <a href="">albina_januzi&commat;hotmail.com</a></p>
    <div class="button-position"><a [routerLink]="['/']"><button>{{ 'privacy-policy.goBack' | translate }}</button></a></div>
</div>
</section>
</body>
</html>
<app-footer></app-footer>