<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legal Notice</title> 
</head>
<app-navbar></app-navbar>
<body >

<section class="container">
    <h1>{{ 'legal-notice.legalNotice' | translate }}</h1>
    <h2>{{ 'legal-notice.serviceProviderInfo' | translate }}</h2>
    <p><strong>Albina Januzi</strong></p>
    <p>{{ 'legal-notice.address' | translate }}</p>
    <p><strong>{{ 'legal-notice.phone' | translate }}:</strong> +491626963005</p>
    <p><strong>Email: </strong> <a href="">albina_januzi&commat;hotmail.com</a></p>
    <h2>{{ 'legal-notice.euDisputeResolution' | translate }}</h2>
    <p>{{ 'legal-notice.euDisputeResolutionDesc' | translate }}</p>
    <p>{{ 'legal-notice.complaintsLink' | translate }}</p>
    <p><a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=EN" target="_blank">{{ 'legal-notice.odrPlatform' | translate }}</a></p>
    <p>{{ 'legal-notice.noParticipation' | translate }}</p>

    <h2>{{ 'legal-notice.imageContentRights' | translate }}</h2>
    <p>{{ 'legal-notice.imageRights' | translate }}</p>
    <p><strong>{{ 'legal-notice.imageSource' | translate }}</strong></p>
    <p>{{ 'legal-notice.textRights' | translate }}</p>

    <p><em>{{ 'legal-notice.sourceNote' | translate }}</em></p>

    <div class="legal-notice.button-position"><a [routerLink]="['/']"><button>{{ 'legal-notice.goBack' | translate }}</button></a></div>
</section>

</body>
<app-footer></app-footer>
</html>
