<section>
    <h1>My Skills</h1>

    <div class="skills-container">
        <div class="skills-grid">
            <div class="skill">
                <img src="assets/img/my-skills-img/angular-icon.svg" alt="Angular">
                <p>Angular</p>
            </div>
            <div class="skill">
                <img src="assets/img/my-skills-img/ts-icon.svg" alt="TypeScript">
                <p>TypeScript</p>
            </div>
            <div class="skill">
                <img src="assets/img/my-skills-img/js-icon.svg" alt="JavaScript">
                <p>JavaScript</p>
            </div>
            <div class="skill">
                <img src="assets/img/my-skills-img/html-icon.svg" alt="HTML">
                <p>HTML</p>
            </div>
            <div class="skill">
                <img src="assets/img/my-skills-img/vector-icon.svg" alt="CSS">
                <p>CSS</p>
            </div>
            <div class="skill">
                <img src="assets/img/my-skills-img/api-icon.svg" alt="REST API">
                <p>Rest-Api</p>
            </div>
            <div class="skill">
                <img src="assets/img/my-skills-img/firebase-icon.svg" alt="Firebase">
                <p>Firebase</p>
            </div>
            <div class="skill">
                <img src="assets/img/my-skills-img/git-icon.svg" alt="Git">
                <p>GIT</p>
            </div>
            <div class="skill">
                <img src="assets/img/my-skills-img/materialDesign-icon.svg" alt="Material Design">
                <p>Material Design</p>
            </div>
            <div class="skill">
                <img src="assets/img/my-skills-img/scrum-icon.svg" alt="Scrum">
                <p>Scrum</p>
            </div>
        </div>

        <div class="learning-container">
            <div class="ellipse">
            <img src="assets/img/my-skills-img/default-ellipse.svg" alt="">
        </div>
            <div class="txt-position">
            <p class="learning-title">I am currently learning</p>
            <div class="learning-icons">
                <img src="assets/img/my-skills-img/react-icon.svg" alt="React">
                <img src="assets/img/my-skills-img/vue-icon.svg" alt="Vue">
            </div>
            <p class="learning-text">
                I am motivated to improve my skills, explore innovative solutions, and stay up to date with new technologies. Currently, I am learning React and Vue.js and applying my knowledge through projects.
            </p>
        </div>
        </div>
    </div>
    
</section>
