section {
    background-color: #262E34;
    font-family: 'Josefin Sans';
    color: white;
}

h2 {
    color: #89BCD9;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Anta', sans-serif;
    
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
 
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;
}

.skill img {
    width: 60px;
    height: auto;
}

.skill p {
    margin-top: 10px;
    font-size: 18px;
    color: #89BCD9;
}   

.txt-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:400px;
}

.txt-container:hover img.background-img {
    content: url('../../../../public/assets/img/feedback-img/hover-reference-shape.svg');
}
    
.txt-position{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap:8px;
}

.txt-container p{
    width:260px;
    font-size:18px;
    
}
.learning-title {
    font-size: 18px;
    font-weight: bold;
}

.learning-icons {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.learning-text {
    font-size: 18px;
    color: #89BCD9;
    width: 72%;
}


@media (max-width:1025px){
   .skills-container{
    flex-direction: column;
    align-items: center;
    gap:30px;
   }

   .txt-position{
    max-width: 290px;
}

   .learning-text{
    font-size: 16px;
    width:70%;
   }

   .container-position {
    display: flex;
    overflow-x: auto; 
    gap: 20px;
    width: 430px; 
    justify-content: flex-start; 
}

.txt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; //text innerhalb img
}




.txt-container p{
    font-size:16px;
}

.txt-position {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white; 
    width: 80%; 
   
}
}

@media (max-width: 930px) {
    h2 {
        font-size: 32px;
    }
}


@media (max-width:470px){
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
        gap:10px;
    }

    .skills-grid img{
        width:41px;
        height:45px;
    }



    .txt-container img{
        width: 290px;
    }
    .learning-icons {
        gap: 10px;
    }

    .learning-icons img {
        width: 35px;
    }

    .learning-icons img{
        width:30px;
    }



}

