
<nav id="navbar" class="navbar-content" >
<div class="navbar-logo">
    <img src="assets/img/footer/footer-logo.svg" alt="">
</div>
<div class="navbar-links">
    <a href="#whyme" (click)="setActive('whyme')" [ngClass]="{'active': activeLink === 'whyme'}">Why me</a>
    <a href="#skills" (click)="setActive('skills')" [ngClass]="{'active': activeLink === 'skills'}">Skills</a>
    <a href="#projects" (click)="setActive('projects')" [ngClass]="{'active': activeLink === 'projects'}">Projects</a>
    <a href="#contact" (click)="setActive('contact')" [ngClass]="{'active': activeLink === 'contact'}">Contact</a>
  </div>
  

<div class="language">
    <img src="assets/img/landing-page/de-deactive.svg" alt="">
    <img src="assets/img/landing-page/en-active.svg" alt="">
</div>
</nav>