
<nav id="navbar" class="navbar-content" >
<div class="navbar-logo">
    <img src="assets/img/footer/footer-logo.svg" alt="">
</div>
<div class="navbar-links">
    <a href="#whyme" (click)="setActive('whyme')" [ngClass]="{'active': activeLink === 'whyme'}">{{ 'navbar.whyme' | translate }}</a>
    <a href="#skills" (click)="setActive('skills')" [ngClass]="{'active': activeLink === 'skills'}">{{ 'navbar.skills' | translate }}</a>
    <a href="#projects" (click)="setActive('projects')" [ngClass]="{'active': activeLink === 'projects'}">{{ 'navbar.projects' | translate }}</a>
    <a href="#contact" (click)="setActive('contact')" [ngClass]="{'active': activeLink === 'contact'}">{{ 'navbar.whyme' | translate }}</a>
  </div>
  

  <div class="language">
    <button (click)="changeLanguage('de')" [ngClass]="{'active': activeLanguage === 'de'}">DE</button>
    <button (click)="changeLanguage('en')" [ngClass]="{'active': activeLanguage === 'en'}">EN</button>
 </div>
</nav>